*{
    margin:0;
    padding:0;
    text-align: center;
}

body{
    display:flex;
    height:100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;

    
}
.board{
    width:30vw;
    height:30vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.cell{
    width:32%;
    height:33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px black solid;
    font-size: 96px;
}

@keyframes winner {
    0%{
        background: white;
        color: black;
    }
    100%{
        background-color:green;
        color:white;
    }
}


.win{
    animation: winner 2s forwards;
    animation-iteration-count: 2;
}

